@model IEnumerable<SGE.Models.TipoUsuario>

@{
	ViewData["Title"] = "Index";
}

<h1>TIPOS DE USUÁRIO</h1>

<p>
	<a style="background:#fff;" asp-action="Create" class="btn btn-lg btn-outline-dark d-inline-flex align-items-center">
		<svg class="me-3" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg>Adicionar

	</a>
</p>

<div class="row gap-3 justify-content-center">
	@foreach (var item in Model)
	{
		<div class="col-12 col-md-3 text-center">
			<div style="background:#fff;" class="border border-1 rounded-1 text-center p-5">
				@Html.DisplayFor(modelItem => item.Tipo)
			</div>
			<a class="text-decoration-none text-dark" asp-action="Edit" asp-route-id="@item.TipoUsuarioId">
				<svg class="me-2" bootstrap-icon="PencilFill" width="16" height="16" arial-label="Editar"></svg>
			</a>
			<a class="text-decoration-none text-dark" asp-action="Details" asp-route-id="@item.TipoUsuarioId">
				<svg class="me-2" bootstrap-icon="InfoLg" width="16" height="16" arial-label="Detalhes"></svg>
			</a>
			<a class="text-decoration-none text-dark" asp-action="Delete" asp-route-id="@item.TipoUsuarioId">
				<svg class="me-2" bootstrap-icon="Trash" width="16" height="16" arial-label="Excluir"></svg>
			</a>
		</div>

	}
</div>
