html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../img/fundo.png);
    background-size: cover;
}

footer {
    background: #364F6B;
}

    footer .container {
        color: white;
    }

        footer .container a {
            color: white;
        }

.bg-white {
    background: #3fc1c9 !important
}

nav .text-dark {
    color: white !important;
}

.navbar-brand {
    color: white
}

main .card {
    border-radius: 70px;
    background: #59B4C3;
    color: white
}

.card-header {
    text-align: center !important;
    background: rgba(0,0,0,0);
    border: none !important;
}

.card-body form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group .btn-primary {
    background: #f5f5f5 !important;
    color: black;
    border-radius: 20px
}

.table {
    text-align: center;
}

main {
    text-align: center;
}

/*.border {
    background: #D9D9D9;
}*/
