@{
    ViewData["Title"] = "Home Page";

    var sessionEmail = Context.Session.GetString("email");
    var sessionNome = Context.Session.GetString("nome");
    var sessionTipoUsuarioId = Context.Session.GetString("tipo");

}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>
        Com uma visão voltada para o futuro, a AppEscola busca
        constantemente inovar e adaptar suas práticas educacionais para oferecer
        uma formação de qualidade e preparar os estudantes para serem cidadãos
        ativos e bem-sucedidos na sociedade digital.
    </p>
</div>
